<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="topnav">
  <a href="/">Home</a>
  <a href="/news">News</a>
  <a href="/createblog">Create Blog</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>
 
  <h1 style="text-align: center;">About This Blog</h1>
  <p style="font-size: larger;text-align:center;">This blog is created to share news, updates, and insights about the automobile industry.</p>
<div class="img-container">
<img src="https://www.shutterstock.com/image-vector/top-no-1-best-seller-600nw-2219315351.jpg">
<a href="https://bestsellingcarsblog.com/">Click here to see the latest Car Blog</a>
</div>
<h1 style="text-align:center;">These are latest of the intersting <strong>MOTO</strong> Blogs</h1>
<div class="second-container">

  <!-- Ferrari Section -->
  <div class="car-section">
    <img src="https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D">
    <p>
      Ferrari, founded in 1939 by Enzo Ferrari, is an Italian luxury sports 
      car manufacturer known for its high-performance vehicles and racing history, 
      particularly in Formula 1. Ferrari's history is steeped in racing, starting with the Scuderia Ferrari racing team for Alfa Romeo. The company's first car, the 125 S, was a sports car designed for racing, and it achieved its first victory at the 1947 Grand Prix of Rome. Ferrari's success in racing, including its dominance in Formula 1, has contributed to its iconic brand image. The iconic "Prancing Horse" logo, inspired by a World War I flying ace, is a visual representation of Ferrari's racing heritage. 
      For more details visit:
      <a href="https://en.wikipedia.org/wiki/Ferrari" target="_blank">Click here</a>
    </p>
  </div>

  <div class="car-section">
    <img src="https://i.ytimg.com/vi/zEr-mm8OSGo/maxresdefault.jpg">
    <p>
      Lamborghini is an Italian luxury sports car manufacturer founded in 1963 by Ferruccio Lamborghini. 
      The company is known for its high-performance vehicles, innovative designs, and iconic models. Their current lineup includes the V12 HPEV Revuelto,
      the plug-in hybrid Urus SE Super SUV, and the new Temerario.
      For more details visit:
      <a href="https://en.wikipedia.org/wiki/Lamborghini" target="_blank">Click here</a>
    </p>
  </div>
<div class="car-section">
    <img src="https://robbreport.com/wp-content/uploads/2021/03/Bugatti-Divo-Lady-Bug-02.jpg?w=1000">
    <p>Bugatti Automobiles S.A.S. is a French luxury sports car manufacturer known 
        for producing high-performance and ultra-luxury vehicles. Founded by Ettore Bugatti in 1909,
         the company is based in Molsheim, Alsace, France. Bugatti cars 
        are renowned for their powerful engines, impressive acceleration, and luxurious interiors. 
    For more details visit:
      <a href="https://en.wikipedia.org/wiki/Lamborghini" target="_blank">Click here</a></p>
</div>
<div class="car-section">
    <img src="https://www.datocms-assets.com/119921/1714135101-harley-davidson-street-rod-bikesocial-review-by-michael-mann009.jpg?auto=format&w=800">
    <p>I’ve spent a lot of the last seven months watching my 16-month-old granddaughter learning to walk. It’s been fascinating to see the transition between rolling over, sitting up, shuffling, standing while holding-on, tottering around and lurching into a stumble and fall. The ‘arms-out, Frankenstein shuffle’ 
    was getting close to a walk and now, finally, something resembling a proper stroll.
She’s probably spent around five hours a day for 200+ days just to reach that point and all with a motley set 
of brain connections still not capable of putting two words together (unless you count ‘Uh-Oh’).
For more details visit:
      <a href="https://www.bennetts.co.uk/bikesocial/news-and-views/blog/practice-better-riding" target="_blank">Click here</a></p>
</div>
</div>
</body>
</html>