.body1
{
    font-family:'Times New Roman', Times, serif;
    background-image: url(pexels-pixabay-60575.jpg);
    color:white;
}
.navbar{
    display: flex;
    position: relative;
    top: 5;
    left: 5;
    vertical-align:center;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color:white;
}
.nav-links{
    display: flex;
    align-items:center;
}
.nav-links li{
    margin: 0 40px;
    font-size: larger;
    
}
nav ul{
    list-style-type : none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-align: center;
        text-decoration-color: white;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        overflow: hidden;
        text-align: center;
    }
    
    nav ul li {
        display: inline;
        margin: 15px;
    }
    
    nav a {
        color:white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
    }

footer {
    background:#002a5c;
    color: white;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 22%;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.footer-section hr {
    width: 50px;
    border: 1px solid white;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white; 
    text-decoration: none;
}

.social-icons img {
    width: 24px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(2.1);
    
}

.footer-bottom {
    background:black;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.footer-bottom p {
    margin: 5px 0;
    background-color: black;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.instagram{
    position: relative;
    align-items: center;
    width: 40px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 80px;
}

.whatsapp-button img {
    width: 40px;
}

