.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.cantainer{
    padding: 10px 5px;
    position: relative;
    width: 50%;
    background: rgba(0 , 0 , 0 , 0.3);
    
}
.textbox{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;

}
.left-cantainer{
    left: 0%;
}
.right-cantainer{
    left: 50%;
}
.cantainer img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;

}
.right-cantainer img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}
.textbox h2{
    font-weight: 600;

}
.textbox small{
    display: inline-block;
    margin-bottom: 15px;
}